

.footer {
  display: flex;
  flex-direction: column;

  background-color: #121E59;

  flex-wrap: wrap;
}


.footer__section>a {
  display: flex;
  flex-direction: column;

  margin: 0 0.5em 0 0.5em;

  align-items: center;
}

.footer__bio__pic {
  width:50px;
  height:50px;
  margin-bottom: 1em;

  border-radius: 50%;
  background:rgb(124, 129, 126);
}

.footer__section {
  display: flex;

  margin-bottom: 2em;

  justify-content: center;
}

p {
  text-align: center;

  color: white;
}

.footer__welcome {
  margin-top: 2em;
  margin-bottom: 2em;
}

p:last-child {
  margin-top: 1em;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

@media (min-width: 768px) {
  .footer {
    display: grid;

    grid-template-areas:
    ". footer__welcome ."
    "footer__bio1 footer__bio2 footer__bio3"
    "section2 section2 section2";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .footer__welcome {
    display: grid;

    grid-area: footer__welcome;
    justify-self: center;
  }

  .footer__welcome>* {
    justify-content: center;
  }

  .footer__bio1 {
    grid-area: footer__bio1;
  }


}
